@extern('header')

	
	<template id="temp">
		<a id="link" href="detalle">
			<div class="carta">
				<div class="apodo"></div>

				<div  class="icono">
	           		<i class="material-icons-outlined location">location_on</i>
	          		<div id="ubicacion"></div>
	        	</div>

				<div class="icono">
				 	 <i class="material-icons-outlined visit">visibility</i>
				  	<div class="visitas"></div>
				</div>
			</div>
		</a>
	</template>

	<div id="estacion" class="contenedor"></div>


 </body>

	 <script type="text/javascript">
	 	

	 	loadPage()

	 	/**
	 	 * 
	 	 * @brief carga elementos en el listado
	 	 * 
	 	 * */
	 	function loadPage(){
	 		// limpia el listado
		 	estacion.innerHTML = "";
		 	// Llamada a la función asincrona que obtiene un listado de usuarios
		 	getAllEstaciones().then( data => {
		 		
		 		/*< si hay elementos en el listado*/
		 		data.list.forEach( row  => {
			 		
			 			// Crea e inserta una fila dentro de estacion
			 			addRowStream(row);
			 		});
			 		

		 	} )
	 	}

	 	/**
	 	 * 
	 	 * @brief Agrega una fila dentro de estacion
	 	 * @param object data fila con datos de usuario
	 	 * 
	 	 **/
	 	function addRowStream(data){
	 		console.log(`detalle/${data.chipId}`)
	 		/*< captura el contenido de la template */
	 		const tpl = temp.content;
	 		/*< clona la plantilla como un nodo completo*/
	 		const clon = tpl.cloneNode(true);
	 		/*< alteramos el contenido del clon con los valores de data */
	 		clon.querySelector("#link").href = `detalle?chipId=${data.chipId}`;
	 		clon.querySelector(".apodo").textContent = data.apodo;
	 		clon.querySelector("#ubicacion").textContent = data.ubicacion;
	 		 clon.querySelector(".visitas").textContent = data.visitas;
	        console.log(data)

	 		/*< inserta el clon modificado dentro de estacion */
	 		estacion.appendChild(clon);
	 	}


	 	/**
	 	 * 
	 	 * @brief Retorna un listado de las estaciones meteorologicas en formato JSON
	 	 * @param int inicio desde que fila inicia.
	 	 * @param int cantidad cantidad de filas a listar
	 	 * @return json listado de usuarios
	 	 * 
	 	 * */
	 	async function getAllEstaciones(){
	 		/*< consulta a la API */
	 		const response = await fetch("api/estacion/getAll/");
	 		const data = await response.json()
	 		return data;
	 	}




	 </script>
	
</html>